*{
    margin: 0px;
}


/*MENU*/
.menu{
    display: flex;
    justify-content: space-between;
    background-color: #85BDBF;
}

.menu-logo img {
    height: 100px;
    width: 200px;
    justify-content: center;
}

.menu-opciones{
    display: flex;
}

.menu-usuario img{
    height: 50px;
    width: 50px;
    margin: 25px;
}

.menu-opciones a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-opciones a:hover{
    font-size: 25px;
    color:black;
    text-decoration: none;
}

/*FOOTER*/

.pieDePagina{
    background-color:#85BDBF;
    align-items: center;
}

.redesSociales{
    display: inline-block;
    margin-left:460px;
}

.redesSociales img{
    height: 50px;
    margin: 25px;
    margin-top: 40px;
}

.direccion p{
    color:black;
    margin-left: 530px;
    padding-bottom: 40px;
}


/* PAGINA PRINCIPAL*/


.imagen-principal img {
    border: 2px solid black;
    height: 350px;
    margin-top: 90px;
    margin-left: 150px;
}

/*SEGUNDA PARTE INDEX*/

.segundaParteIndex{
    background-color: #85BDBF;
    padding-bottom: 70px;
}

.segundaParteIndex h1{
    text-align: center;
    margin: 40px;
    padding-top: 30px;
}

.ofertasynovedades{
    display: flex;
}

.contenedorOfertas{
    background: rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    text-align: center;
    width: 240px;
    height: 280px;
    margin-top:15px;
    background-color: white;
    margin-left: 80px;
    margin-bottom: 90px;
    transition: 0.3s;
}

.contenedorOfertas:hover{
    width: 260px;
    height:300px
}

.contenedorOfertas img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#precio{
    background-color: #85BDBF;
    height:30px;
    width: 90px;
    margin-left: 70px;
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.segundaParteIndex a{
    background-color: white;
    text-decoration: none;
    color:black;
    padding:20px;
    border-radius: 8px;
    margin-left: 600px;
}

/* TERCERA PARTE INDEX*/

.terceraparteIndex{
    background-color: white;
}

.terceraparteIndex h1{
    margin-left: 550px;
    margin-top: 30px;
}

.imagen-texto{
    display: flex;
}

.imagen-texto img{
    margin:40px;
    height: 300px;
}

.imagen-texto p{
    margin:100px;
}


/*INCIAR SESION Y REGISTRARSE*/

.contenedor1-usuario{
    background-color: cadetblue;
    width: 450px;
    height: 300px;
    margin-top: 150px;
    border-radius: 10px;
    margin-left: 450px;
}

.contenedor1-usuario h1{
    text-align: center;
    padding-top: 20px;
}

.contenedor1-usuario label{
    padding:30px;
}

.contenedor1-usuario input{
    border-radius: 3px;
    margin-top: 10px;
}

.contenedor1-usuario button{
     background-color: #85BDBF;
     border-radius: 4px;
     height: 25px;
     width: 100px;
     transition: 0.3s;
}

.contenedor1-usuario button:hover{
    height: 30px;
    width: 105px;
}

