*{
    margin: 0px;
}


/*MENU*/
.menu{
    display: flex;
    justify-content: space-between;
    background-color: #85BDBF;
}

.menu-logo img {
    height: 100px;
    width: 200px;
    justify-content: center;
}

.menu-opciones{
    display: flex;
}

.menu-usuario img{
    height: 50px;
    width: 50px;
    margin: 25px;
}

.menu-opciones a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-opciones a:hover{
    font-size: 25px;
    color:black;
    text-decoration: none;
}

/*FOOTER*/

.pieDePagina{
    background-color:#85BDBF;
    align-items: center;
}

.redesSociales{
    display: inline-block;
    margin-left:460px;
}

.redesSociales img{
    height: 50px;
    margin: 25px;
    margin-top: 40px;
}

.direccion p{
    color:black;
    margin-left: 530px;
    padding-bottom: 40px;
}


/* PAGINA PRINCIPAL*/


.imagen-principal img {
    border: 2px solid black;
    height: 350px;
    margin-top: 90px;
    margin-left: 150px;
}

.segundaParteIndex{
    background-color: #85BDBF;
    padding-bottom: 70px;
}

.segundaParteIndex h1{
    text-align: center;
    margin: 40px;
    padding-top: 30px;
}

.ofertasynovedades{
    display: flex;
}

.contenedorOfertas{
    background: rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    text-align: center;
    width: 240px;
    height: 280px;
    margin-top:15px;
    background-color: white;
    margin-left: 80px;
    margin-bottom: 90px;
    transition: 0.3s;
}

.contenedorOfertas img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#precio{
    background-color: #85BDBF;
    height:30px;
    width: 90px;
    margin-left: 70px;
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.segundaParteIndex a{
    background-color: white;
    text-decoration: none;
    color:black;
    padding:20px;
    border-radius: 8px;
    margin-left: 600px;
    transition: 0.3s;
}

.segundaParteIndex a:hover{
    padding: 25px;
}

.terceraParteIndex{
    background-color: white;
    padding-bottom: 50px;
}

.terceraParteIndex h1{
    margin-left: 600px;
    margin-top: 30px;
}

.terceraParteIndex a{
    background-color: #85BDBF;
    text-decoration: none;
    color:black;
    padding:20px;
    border-radius: 8px;
    margin-left: 600px;
    transition: 0.3s;
}

.terceraParteIndex a:hover{
    padding: 25px;
}

.imagen-texto{
    display: flex;
}

.imagen-texto img{
    margin:40px;
    height: 300px;
}

.imagen-texto p{
    margin:100px;
    text-align: justify;
}

/*INCIAR SESION Y REGISTRARSE*/

.contenedor1-usuario{
    background-color: cadetblue;
    width: 450px;
    height: 300px;
    margin-top: 150px;
    border-radius: 10px;
    margin-left: 450px;
}

.contenedor1-usuario h1{
    text-align: center;
    padding-top: 20px;
}

.contenedor1-usuario label{
    padding:30px;
}

.contenedor1-usuario input{
    border-radius: 3px;
    margin-top: 10px;
}

.contenedor1-usuario button{
     background-color: #85BDBF;
     border-radius: 4px;
     height: 25px;
     width: 100px;
     transition: 0.3s;
}

.contenedor1-usuario button:hover{
    height: 30px;
    width: 105px;
}

/*RESEÑAS*/

.Reseñas h1{
    text-align: center;
    margin:30px;
}

.ingresarReseñas{
    max-width: 600px;
    margin: 0 auto;
    background-color: #85BDBF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.ingresarReseñas h2{
    text-align: center;
    margin:10px;
}

input[type="text"], textarea {
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 250px;
    margin-top: 30px;
}

button:hover {
    background-color: #0056b3;
}

/* RESEÑAS */

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.review-item {
    background-color: #85BDBF;
    border-radius: 8px;
    padding: 15px; 
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 200px;
    height: 80px;
}

