body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: #85BDBF;
    padding: 10px;
}

.menu-logo h1 {
    margin: 0;
}

.menu-opciones a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}

.menu-opciones a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #85BDBF;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #85BDBF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #74a9a9;
}
