/* Pie de Página */
.pieDePagina {
    background-color: #85bdbf;
    padding:40px;   
    text-align: center;
}

.redesSociales {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.redesSociales img {
    height: 50px;
}

.direccion p {
    color: black;
}

/* Responsive for mobile devices */
@media (max-width: 480px) {
    .pieDePagina {
        padding: 15px;
    }

    .redesSociales img {
        height: 35px;
    }

    .direccion p {
        font-size: 0.9rem;
    }
}

/* Responsive for large screens */
@media (min-width: 1368px) {
    .pieDePagina {
        padding:45px;
    }

    .redesSociales img {
        height: 60px;
    }

    .direccion p {
        font-size: 1.1rem;
    }
}
