/* Pie de Página */
.pieDePagina {
    background-color: #85bdbf;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.redesSociales {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.redesSociales img {
    height: 50px;
}

.direccion p {
    color: black;
}

@media (max-width: 480px) {

    .pieDePagina {
        padding: 15px;
    }

    .redesSociales img {
        height: 35px;
    }

    .direccion p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {

    .pieDePagina {
        padding: 20px;
    }

    .redesSociales img {
        height: 50px;
    }

    .direccion p {
        font-size: 1rem;
    }
}