.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #85bdbf;
    position: fixed;
    width: 99%;
}

.menu-logo img {
    height: 100px;
}

.menu-opciones {
    display: flex;
    align-items: center;
    gap: 20px;
}

#texto-opciones {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.2s, border-bottom 0.2s;
}

#texto-opciones:hover {
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 1px;
}

.menu-usuario img {
    height: 50px;
    cursor: pointer;
    padding-right: 10px;
}

#nombreUsuario{
    font-size: 20px;
    font-style: italic;
    
}

.menu-usuario {
    position: relative;
}

@media (max-width: 480px) {

    .menu-logo img{
        height: 80px;
    }
    .menu {
        max-width: 96.5%;
    }

    .menu-opciones {
        flex-direction: row;
    }
    
    #texto-opciones {
        font-size: 16px;
    }
}

@media (min-width: 1368px) {
    .menu {
        padding: 8px;
    }

    .menu-logo img {
        height: 100px;
    }

    #texto-opciones {
        font-size: 22px;
    }

    .menu-usuario img{
        padding-right: 20px;
    }
}
