.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #85bdbf;
    position: fixed;
    width: 99%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.menu-logo img {
    height: 100px;
}

.menu-opciones {
    display: flex;
    align-items: center;
    gap: 20px;
}

#texto-opciones {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.2s, border-bottom 0.2s;
}

#texto-opciones:hover {
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 1px;
}

.menu-usuario img {
    height: 50px;
    cursor: pointer;
    padding-right: 10px;
}

@media (max-width: 480px) {
    .menu {
        flex-direction: column;
    }

    .menu-opciones {
        flex-direction: column;
        gap: 10px;
    }
    
    #texto-opciones {
        font-size: 16px;
    }
}

/* Responsive for large screens */
@media (min-width: 1368px) {
    .menu {
        padding: 20px;
    }

    .menu-logo img {
        height: 150px;
    }

    .menu-opciones {
        gap: 40px;
    }

    #texto-opciones {
        font-size: 22px;
    }
}
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        padding: 10px;
    }

    .menu-opciones {
        flex-direction: column;
        gap: 10px;
    }
}