.menu{
    display: flex;
    justify-content: space-between;
    background-color: #85BDBF;
    position: fixed;  
    width: 1330px;
    border-radius: 10px;
}

.menu-logo img {
    height: 100px;
    width: 200px;
    justify-content: center;
}

.menu-opciones{
    display: flex;
}

.menu-opciones {
    display: flex;
    align-items: center; /* Centra verticalmente */
}

#texto-opciones{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
    padding-left: 20px;
    padding-right: 20px;
}
    
#texto-opciones:hover {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black; /* Línea visible al pasar el cursor */
    padding-bottom: 1px; /* Ajuste final para acercar la línea */
}


.menu-usuario img{
    height: 60px;
    width: 60px;
    margin: 25px;
}

.menu-usuario {
    position: relative; /* Para posicionar el dropdown correctamente */
    display: inline-block; 
}

.menu-usuario img {
    width: 50px; 
    height: auto; /* Mantener la proporción de la imagen */
}

.dropdown {
    display: none; /* Ocultar el dropdown por defecto */
    position: absolute; /* Posicionar el dropdown respecto al contenedor padre */
    background-color: #f9f9f9; 
    min-width: 150px; /* Ancho mínimo del dropdown */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1; /* Asegurar que esté por encima de otros elementos */
}

.dropdown a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block; /* Mostrar el enlace como un bloque */
    font-size: 17px;
}

.dropdown a:hover {
    background-color: #cfcfcf; 
}

/* Mostrar el dropdown al pasar el mouse sobre el contenedor padre */
.menu-usuario:hover .dropdown {
    display: block;
}
