.perfil-container {
    max-width: 600px;
    margin: 0 auto; /* Centrado horizontal */
    padding: 20px;
    background-color: #85bdbf;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 150px;
}

.spacer {
    height: 150px;
}

.titulo {
    text-align: center;
    color: #141515;
    font-size: 36px;
    margin-top: 30px;
}

.informacion-usuario {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.informacion-usuario p {
    line-height: 1.6;
}

.perfil-imagen {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: azure;
}

.foto-perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.file-upload {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #85BDBF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.file-upload:hover {
    background-color: #7db5b2;
}

.logout-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #FF6F61;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #e05d4f;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 480px) {
    .perfil-container {
        max-width: 300px;
        margin: 0 auto; /* Centrado horizontal */
        margin-bottom: 150px;
    }

    .spacer {
        height: 130px;
    }

    .file-upload {
        margin: 20px auto;
        font-size: 12px;
    }
}

/* Responsivo para pantallas grandes */
@media (min-width: 1368px) {
    .perfil-container {
        max-width: 800px;
        margin: 0 auto; /* Centrado horizontal */
        padding: 20px;
        margin-bottom: 150px;
    }

    .spacer {
        height: 170px;
    }
}