.contenedorCategoriasProductos {
    padding-top: 150px;
    padding-bottom: 100px;
}

.contenedorCategoriasProductos h1 {
    justify-content: center;
    display: flex;
    color: #437a7b;
}

.contenedorCategoriasProductos p{
    display: flex;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 17px;
}

.categoriasProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.categoriasProductos a{
    color: #437a7b;
    text-decoration: none;
    font-size: 20px;
}

.categoriaLimpieza, .categoriaAlimentos, .categoriaHigiene, .categoriaBebida {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: 0px 4px 8px rgba(2, 118, 110, 0.3);
    text-decoration: none;
    transition: 0.3s;
    background-color: #f0f0f0;
}

.categoriaLimpieza:hover , .categoriaAlimentos:hover , .categoriaHigiene:hover , .categoriaBebida:hover {
    width: 180px;
    height: 180px;
    background-color: #dcdcdc;
}


@media (max-width: 480px) {

    .contenedorCategoriasProductos p{
        display: flex;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
 
    .categoriaLimpieza, .categoriaAlimentos, .categoriaHigiene, .categoriaBebida {
        width: 160px;
        height: 160px;
       margin-bottom: 20px;
    }
}