.productosContenedores{
    justify-content: center;
    text-align: center;
    background-color:rgb(219, 236, 233) ;
    margin-bottom: 20px;
}

.productosContenedores h1{
    padding-top: 20px;
}


.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 10px;
}

.producto {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    width: 200px;
    margin-bottom: 30px;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.producto h3 {
    font-size: 1.5em;
    color: #333;
}

.producto p {
    font-size: 1em;
    color: #555;
}
