.slogan {
    padding-top: 150px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
   text-align: center;
}

.slogan img {
    height: 350px;
}

.slogan p {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 45px;
}

@media (max-width: 480px) {
    .slogan {
        flex-direction: column;
        background-image: none;
    }
    
    .slogan img {
        margin-top: 150px;
        height: 150px;
    }
    
    .slogan p {
        font-size: 30px;
    }
}

/* Responsive for large screens */
@media (min-width: 1368px) {
    .slogan {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    .slogan img {
        height: 400px;
    }

    .slogan p {
        font-size: 50px;
    }
}
