.slogan{
    padding-top:170px;
    padding-bottom:110px ;
    display: flex;
    background-image: url(https://png.pngtree.com/png-clipart/20240430/original/pngtree-pure-white-paper-textured-transparent-background-overlay-png-image_14980863.png);
}

.slogan img{
    height: 350px;
    width: auto;
}

.slogan p{
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 15px;
}   
